/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Poppins:100,200,300,400,500,600,700,800,900&display=swap');

/* Global CSS */
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #333333;
}
a{
	color: #fde52c;
}
a:hover{
	color: #002e5b;
	text-decoration: none;
}
.img-center{
	display: block;
	margin: 0 auto;
}
.no-padding{
	padding: 0;
}

/* Header Section */
header{
	background: url(../img/banner.png) no-repeat center;
}
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: #fde52c;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #fde52c;
}
#navbarDropdown{
	margin-top: -5px;
}
.banner-content{
	padding: 125px 0;
}

.controller{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.controller ul{
	padding: 0;
}
.controller ul li{
	list-style: none;
	display: inline;
	margin: 0 10px;
	color: #fde52c;
	position: relative;
}
.slash::after{
	content: "/";
	position: absolute;
	color: #fde52c;
	padding-left: 10px;
}
.fa-long-arrow-left{
	padding-right: 8px;
}
.fa-long-arrow-right{
	padding-left: 8px;
}
.banner-box{
	background: url(../img/banner-shape.png) no-repeat center;
	padding: 80px 0px;
}
.banner-box h1{
	color: #fff;
	font-size: 36px;
	font-weight: 800;
	line-height: 50px;
	margin-bottom: 40px;
}
.banner-box a{
	font-size: 20px;
	text-decoration: underline;
	text-transform: uppercase;
	margin-left: 67px;
	font-weight: 500;
}
.banner-box a:hover{
	color: #fff;
	transition: 0.3s ease-in-out;
}
.modal-content{
	margin-top: 125px;
}
.modal-logo{
	width: 175px;
	height: 175px;
	margin: -100px auto 50px;
	border-radius: 100%;
	padding: 20px;
	box-shadow: 0 0 10px #eee;
	background-color: #fff;
}
.modal-body h1{
	font-size: 34px;
	color: #df2f46;
	font-weight: 700;
	text-align: center;
}
.modal-body p{
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-bottom: 75px;
}
.btn-modal {
    background: #df2f46;
    color: #fff;
    display: block;
    margin: 0 auto 25px;
    padding: 10px 30px;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}
.btn-modal:hover{
	background: #002e5b;
	color: #fff;
}
/* Intro Section CSS */
.intro-section{
	padding: 50px 0px;
	background: url(../img/intro-bg.png) no-repeat center;
    background-size: auto;
	background-size: 110% 100%;
}
.intro-section h2{
	font-size: 32px;
	color: #002e5b;
	font-weight: 700;
	text-transform: uppercase;
}
.intro-section h4{
	font-size: 20px;
	color: #666;
	font-weight: 300;
	margin: 20px 0px;
}
.intro-section a{
	color: #002e5b;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}
.intro-section{
	padding: 50px 0;
	position: relative;
}
.intro-section::before{
	content: "";
	position: absolute;
	background: #fde52c;
	width: 200px;
	height: 100%;
	top: 0;
	left: 630px;
}
/* Graph Section CSS */
.graph-section{
	padding: 50px 0px;
	background: #f4f4f4;
}
.graph-section h2{
	font-size: 32px;
	color: #002e5b;
	font-weight: 700;
	text-transform: uppercase;
}
.graph-section h4{
	font-size: 20px;
	color: #666;
	font-weight: 300;
	margin: 20px 0px;
}
.graph-section a {
    color: #002e5b;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}
/* Consultant Section Start */
.consultant-section{
	padding: 20px 0px;
	background: #002e5b;
}
.consultant-section h4{
	color: #fff;
	font-weight: 500;
	font-size: 20px;
}
.btn-contact{
	background: #fde52c;
	border-radius: 2px;
	padding: 8px 20px;
	transition: 0.3s ease-in-out;
}
.btn-contact:hover{
	background: #fff;
}
/* Service Section Start */
.service-section{
	padding: 50px 0px;
}
.service-content h3{
	color: #002e5b;
	padding: 20px 0px 5px;
	font-size: 24px;
	font-weight: 600;
}
/* Counter Section */
.counter-section{
	padding: 100px 0px;
	background-color: #002e5b;
}
.counter-section h1{
	color: #fff;
	text-align: center;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 4px;
}
.counter-section p{
	color: #fff;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}
/* Consulting Section */
.consulting-section{
	padding: 50px 0;
	position: relative;
}
.consulting-section::before{
	content: "";
	position: absolute;
	background: #fde52c;
	width: 200px;
	height: 100%;
	top: 0;
	left: 160px;
}
.consulting-section h2{
	font-size: 32px;
	color: #002e5b;
	font-weight: 700;
	text-transform: uppercase;
}
.consulting-section h4{
	font-size: 20px;
	color: #666;
	font-weight: 300;
	margin: 20px 0px;
}
.consulting-section a{
	color: #002e5b;
	font-weight: 600;
	letter-spacing: 1px;
	text-decoration: underline;
	transition: 0.3s ease-in-out;
}
.consulting-section a:hover{
	color: #fde52c;
}
/* Testimonial Section */
.review-section{
	padding: 100px 0px;
	background-color: #002e5b;
}
.review-section .fa{
	display: block;
	text-align: center;
	color: #fff;
	margin-bottom: 25px;
	font-size: 20px;
}
.review-section p{
	color: #fff;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	line-height: 30px;
	margin-bottom: 25px;
}
.review-section h3{
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}
/* Contact Section */
.contact-section{
	padding: 50px 0px;
}
.section-heading h2{
	text-align: center;
	font-size: 32px;
	color: #002e5b;
	font-weight: 700;
	text-transform: uppercase;
}
.section-heading p{
	text-align: center;
	color: #666666;
	width: 45%;
	margin: 0 auto 50px;
}


.card-title{
	font-size: 22px;
	color: #002e5b;
	font-weight: 600;
	text-transform: uppercase;
}
.card-body .fa{
	color: #002e5b;
	font-size: 20px;
}
.card-body p{
	width: 60%;
}
.card {
    border: 1px solid rgba(0,0,0,.025);
    border-radius: 0;
    box-shadow: 0px 0px 10px #eee;
}
/* Footer Section */
footer{
	background: #002e5b;
	padding: 20px 0px 10px;
}
footer p{
	color: #fff;
	font-weight: 500;
}
.social-menu{
	text-align: right;
}
.social-menu ul{
	padding: 0;
}
.social-menu ul li{
	list-style: none;
	display: inline;
	margin: 0px 7px;
}
.social-menu ul li .fa{
	color: #fff;
	transition: 0.3s ease-in-out;
}
.social-menu ul li .fa:hover{
	color: #fde52c;
}